::selection {
    background-color: #BB8082;
    color: #d9d9d9;
}

.heading {
  font-size: 17vw;
}
.project-heading {
  font-size: 10vw;
}

.normal-text {
  color: #d9d9d9;
}

.individual:hover {
  color: #beb7b7;
  transition: 250ms;
}

hr {
  width: 90vw;
  margin: 0 auto;
  border: 0.1px solid #888888;
}

button:hover {
  background-color: #EBA83A;
  color: white;
  border: 2px solid #EBA83A;
  transition: 250ms;
}

.certain:hover {
color: #EBA83A;
  transition: 250ms;  
}
